<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/user.png" />
        <!-- Template CSS -->
        <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

        <style>
            .pagination {
    margin-top: 20px;
}

.pagination-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: #959595;
}

.pagination-link.active {
    background-color: #000000;
    color: #ffffff;
}
.pagination__active{
    background-color: rgb(208, 208, 208);
  }
#salesReportChart {
            background-color: #f8f8f8; /* Change the background color */
            border: 1px solid #ddd; /* Change the border */
            border-radius: 8px; /* Apply border-radius for rounded corners */
            padding: 15px; /* Add padding around the graph */
        }
        .product__pagination a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	height: 30px;
	width: 30px;
	border: 1px solid transparent;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}

.product__pagination a.active {
	border-color: #111111;
}

.product__pagination a:hover {
	border-color: #111111;
}

.product__pagination span {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	padding-left: 10px;
	padding-right: 15px;
}


        </style>
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <!-- <img src="/adminAssets/imgs/theme/logo.png" class="logo" alt="Nest Dashboard" /> -->
                    <h2><b>VERSEN</b></h2>
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-dashboard"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/allProducts">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/allCategory">
                            <i class="icon material-icons md-menu"></i>
                            <span class="text">Category</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/allUser">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/productOffer">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Offers</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/coupons">
                            <i class="icon material-icons md-bookmark"></i>
                            <span class="text">Coupons</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                        
                    </li>
                    
                   
                </ul>
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                       
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAssets/imgs/theme/user.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </header>